* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*End Global Rules*/
body {
  font-family: "work sans", "sans serif";
  font-size: 16px;
  background-color: white;
  margin-left: auto;
  margin-left: auto;
  padding: 0;
}
/*.parent {
  background-color: #eee;
  }*/
.row {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
}

h1 {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 50px;
}
section {
  background-color: white;
  padding: 0 10px;
}
p {
  background-color: #808080b8;
  border: black solid 2px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
}

span {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  width: 100px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

#SAU {
  background-color: #dc354552;
}

#SMUR {
  background-color: #de1850;
  color: white;
}
#UHCD {
  background-color: #ffc10770;
}
@media (min-width: 992px) {
  section {
    float: left;
    width: calc(100% / 3);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .one,
  .tow {
    float: left;
    width: 50%;
  }
  .three {
    float: left;
  }
}
